@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #032D3C !important;
    color: #fff !important;
}
.flex-1{
    flex: 1;
}
.bg-sea{
    background-color: #032D3C !important;
    color: #fff;
}
.bg-ocean{
    background-color: rgba(0, 0, 0, 0.05) !important;
}
.bg-red{
    background-color: #810000;
}
.bg-blue{
    background-color: #052596;
}
header{
    height: 70px;
    background-color: #062F3E;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header .container-fluid{
    max-width: 80%;
}
.text-green{
    color: #94FC13;
}
.navbar-title{
    font-size: 25px;
    text-decoration: none;
    font-weight: 300 !important;
}
.navbar-title:hover{
    color: #94FC13 !important;
}
.text-white:hover{
    color: #94FC13 !important;
}
.show{
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.btn-outline-info{
    text-decoration: none;
    border-color: #4BE3AC !important;
    color: #4BE3AC !important;
}
.btn-outline-info:hover{
    background-color: #4BE3AC;
    color: #000 !important;
}
.btn-outline-success{
    text-decoration: none;
    border-color: #94FC13 !important;
    color: #94FC13 !important;
}
.btn-outline-success:hover{
    background-color: #94FC13;
    color: #000 !important;
}
.apresentacao .bi-chevron-double-down{
    font-size: 35px;
    animation: jumping 1.8s linear infinite;
    cursor: pointer;
    transition: all 0.5s linear;
}
.apresentacao .bi-chevron-double-down:hover{
    color: #94FC13;
}

@keyframes jumping {
    from {transform: translateY(-15px);}
    50% {transform: translateY(0);}
    to {transform: translateY(-15px);}
}

.sobre-mim figure{
    width: 320px;
    height: 285px;
    overflow: hidden;
    border: 2px solid #94FC13;
    transition: all 0.5s linear;
}
.sobre-mim figure:hover{
    border-color: #4BE3AC;
}
.sobre-mim figure img{
    margin-top: -90px;
}
.sobre-mim p{
    text-indent: 3ch;
    text-align: justify;
}

.experiencia .nav-item{
    width: 220px;
    height: 55px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.experiencia .nav-item:hover{
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.experiencia .active{
    border-left: 2px solid #94FC13;
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.projetos a{
    color: #fff;
    text-decoration: none;
    width: 310px;
    height: 200px;
    border-left: 2px solid #94FC13;
}
.projetos p{
    text-indent: 3ch;
    text-align: justify;
    line-height: 22px;
    letter-spacing: 0.03em;
    width: 380px;
}
.blocked{
    position: absolute;
    margin: 0px;
    width: 310px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
.blocked h2{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}